    /* закрепить footer  с помощью превращения контента  в элемент таблицы */

* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  .main {
    display: table;
    height: 100%;
  }
  .content {
    display: table-row;
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 90px;
    background: linear-gradient(to left, rgb(162, 0, 255),rgb(0, 162, 255));
    color: white;
    text-align: center;
    font-size: 20px;
  }
  footer {
    color: white;
    text-align: center;
    font-size: 20px;
    height: 30px;
    width: 100%;
    background: linear-gradient(to right, rgb(162, 0, 255),rgb(0, 162, 255));
  }