body{
    font-family: Helvetica;
    padding: 0;
}
.navigation{
    border-top: 0.5px solid white;
    background-color: #444444;
    width: 100%;
    height: 49.5px;
    vertical-align: center;

}
.navigation > :first-child{
    margin-left: 100px; 
}
.navigation a{
    border-right: 0.5px solid white; 
    font-size: 15px;
    display: inline-block;
    padding: 16px 20px ;
    text-decoration: none;
    color: white;
    
    
}
.navigation a:hover{
    font-size: 16px;
    display: inline-block;
    padding: auto 20px ;
    text-decoration: none;
    color: white;
    background-color: rgb(78, 75, 75);
    
}
.content{
    width: 100%;
    
    
}
.content img{
    display: block;
    box-sizing: border-box;
    width: 1024px;
    height: 500px;
    margin: 0 auto;
    
}
.info{
    width: 1000px;
    margin: 0 auto;
}
.article p{
    display: inline-block;
    width: 325px;
}
.article img{
    vertical-align: top;
    width: 75px;
    height: 75px;
    display: inline-block;
}

.article{
    vertical-align: top;
    /* display: inline-block; */
    width: 400px;
    margin: 0 auto;
    
}